@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


.body{
  background-color: #e9e9e9;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  background: url(./ndpr.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #389602d0
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.reg-form {
margin: 100px 150px;
width: 500px;
}

/* container here */
#container{
  background-color: white;
  margin: auto;
  width: 550px;
  -webkit-box-shadow: 0 10px 20px -6px #777;
       -moz-box-shadow: 0 10px 20px -6px #777;
            box-shadow: 0 10px 20px -6px #777;
            opacity: 0.9;
}


.err-text {
  color: red;
}
.options {
  border: 1px solid #28a745;
  margin: 15px 0;
  padding: 1px 15px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 #28a745;
  cursor: pointer;
}

.option{
  margin: 5px 0;
  padding: 1px 15px;
}

.options:hover {
  background: yellow;
}
.selected {
  background: greenyellow;
}
.navs {
  border: 1px solid rgb(128, 128, 128);
  box-shadow: 0 2px 2px 4px;

}
.test {
  padding: 100px;
  background: #ffffff;
  opacity: 0.5;
  color: white;
  text-align: center;
  font-size: 2em;
  max-height: 30px;
}
.test h2 {
  font-size: 2em;
}
.reg-form {
  margin: 35px auto;
}

.icon-bgd {
  margin-top: 5px;
  display: flex;
  flex: left;
  padding: 0;
}
footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: #222;
  width: 100%;
}

.color{
  color: #f9f9f9 !important;
  font-weight: bold;
}
.footer-text{
  font-size: 14px !important;
  padding-left: 0;
  margin-left: 0;
}
.foot-txt {
padding-top: 20px;
}
.foot-txt h3 {
   text-transform: uppercase;
   
}
.foot-txt p {
   color: #fff;
}
.cards {
   margin: 200px auto;
}
.cards p {
  margin-top: 20px;
}

.signup-text{
  color:#00a004;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 10px;
}

#btnId{
  background-image: linear-gradient(to right, #fdb633 0%, rgb(252, 152, 2) 51%, #F09819 100%);
  background-color: #c5912e;
  color: #fff;
  width: 100%;
}
#btnId:hover{
  background-image: linear-gradient(to right, #252525 0%, #1d1d1d 51%, #696969 100%);
  background-color: #313131;
  width: 100%;

}

#tags{
margin-top: 10px;
}

#label{
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: #28a745;
}

.extra{
  padding-top: 10px;
  padding-bottom: 20px;
}

.register{
  color: #00a004;
  font-weight: bolder;
}
.register:hover{
  color: #faa200;
  font-weight: bolder;
}
